<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.septianfujianto.inventorymini">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />
        <activity
            android:name=".ui.product.ListProductActivity"
            android:label="@string/title_activity_list_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.product.CreateProductActivity"
            android:parentActivityName=".ui.product.ListProductActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.category.CreateCategoryActivity"
            android:parentActivityName=".ui.product.ListProductActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.product.DetailProductActivity"
            android:parentActivityName=".ui.product.ListProductActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.backup.BackupActivity" android:parentActivityName=".ui.product.ListProductActivity"/>
        <activity android:name=".ui.location.CreateLocationActivity"
            android:parentActivityName=".ui.product.ListProductActivity"></activity>
    </application>

</manifest>